@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

.rc-collapse-anim-active {
    transition: height 0.2s ease-out;
}
.rc-collapse-content-inactive {
    display: none;
}
[data-reactroot] {
    height: 100% !important;
}
.loginState {
    height: 100% !important;
}

.form-signin {
    /*max-width: 330px;*/
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
html, body {
    height: 100%;
}
#app{
    height:100%;
}

.fill {
    height: 100%;
}
.jumbotron {
    background-color: white !important;
    height: 100% !important;
}

.top-buffer { margin-top:20px; }

.top-down-buffer {
    margin-top:10px;
    margin-bottom:10px;
}

.top-down-full-buffer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.logoutButton:hover {
    cursor: pointer;
}

li.balanceState {
    color: black;
}